    html,
    body,
    {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    svg,
    .vizualization {
        height: 60%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: black;
    }
    
    circle {
        fill: gray;
        stroke: black;
        cursor: pointer;
    }
    
    .genre circle {
        fill: black;
        stroke: cyan;
        stroke-width: 5px;
    }
    
    .label {
        text-anchor: middle;
        font-family: 'Roboto Condensed', sans-serif;
        fill: #999;
        font-size: 14px;
        max-width: 20px;
        cursor: pointer;
        white-space: wrap;
    }
    
    .white {}
    
    .folk {
        background: rgba(85, 8, 225, 1);
        background: -moz-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 8, 225, 1)), color-stop(100%, rgba(1, 214, 141, 1)));
        background: -webkit-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -o-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -ms-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: linear-gradient(to right, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    }
    
    .individualView {
        position: absolute;
        bottom: 0;
        width: 45%;
        height: 40%;
    }
    
    #left {
        left: 0;
    }
    
    #right {
        right: 0;
    }
    
    .tab {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        background-color: #000;
        color: #fff;
    }
    
    .tabContainer {
        overflow: hidden;
        height: 100%;
    }
    
    .option {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #999;
        margin-top: 30%;
    }
    
    .album {
        width: 90%;
        margin: auto;
        position: absolute;
        top: 60px;
        left: 5%;
    }
    
    .albumAura {
        width: 90%;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        top: 60px;
        left: 10%;
        background-color: #fff;
    }
    
    .albumNav {
        margin-top: 45px;
    }
    
    .active {
        display: block;
    }
    
    .selected {
        background: rgba(85, 8, 225, 1);
        background: -moz-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 8, 225, 1)), color-stop(100%, rgba(1, 214, 141, 1)));
        background: -webkit-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -o-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -ms-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: linear-gradient(to right, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    }
    
    .zoomDoc {
        height: 60%;
        margin-left: 10%;
    }
    
    .fullDoc {
        margin-top: 15%;
        height: 40%;
    }
    
    .o2 {
        margin-left: 30%;
    }
    
    .gallerySlide {
        height: 60%;
        width: 60%;
        margin: auto;
        overflow: hidden;
    }
    
    .gallerySlide li {}
    
    .user {
        fill: aqua
    }
    
    .tab iframe {
        margin: auto;
        margin-left: 10%;
    }
    
    .tab h2 {
        color: #999;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 14pt;
    }
    
    .tab p {
        text-align: center;
        color: #999;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 10pt;
        max-width: 90%;
        margin: auto;
    }
    
    #tweetImage {
        z-index: -5;
    }