    html,
    body,
    .visualization,
    svg {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: black;
    }
    
    circle {
        fill: gray;
        stroke: black;
        cursor: pointer;
    }
    
    .question circle {
        fill: black;
        stroke: cyan;
        stroke-width: 5px;
    }
    
    .label {
        text-anchor: middle;
        stroke: white;
        font-family: verdana;
        font-size: 14px;
        cursor: pointer;
    }
    
    .white {
        stroke: white;
        stroke-width: 5px;
    }
    
    .folk {
        background: rgba(85, 8, 225, 1);
        background: -moz-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 8, 225, 1)), color-stop(100%, rgba(1, 214, 141, 1)));
        background: -webkit-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -o-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: -ms-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
        background: linear-gradient(to right, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    }
    
    .individualView {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 35%;
    }
    
    #left {
        left: 0;
    }
    
    #right {
        right: 0;
    }
    
    .tab {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        background-color: #000;
        color: #fff;
    }
    
    .tabContainer {
        overflow: hidden;
        height: 100%;
    }
    
    .option {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: orange;
        margin-top: 30%;
    }
    
    .album {
        width: 90%;
        margin: auto;
        margin-top: 10%;
        position: absolute;
        top: 0;
        left: 5%;
    }
    
    .albumAura {
        width: 90%;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 10%;
        background-color: #fff;
    }
    
    .active {
        display: block;
    }
    
    .zoomDoc {
        height: 80%;
    }
    
    .fullDoc {
        margin-top: 15%;
        height: 50%;
    }
    
    .o2 {
        margin-left: 30%;
    }