html,
body,
div,
svg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

circle {
    fill: gray;
    stroke: black;
    cursor: pointer;
}

.question circle {
    fill: black;
    stroke: cyan;
    stroke-width: 5px;
}

.label {
    text-anchor: middle;
    stroke: white;
    font-family: verdana;
    font-size: 14px;
    cursor: pointer;
}

.white {
    stroke: white;
    stroke-width: 5px;
}

.sjálfstæðisflokkurinn circle {
    fill: blue;
}

.Framsóknarflokkurinn circle {
    fill: green;
}

.Samfylkingin circle {
    fill: red;
}

.Vinstri_græn circle {
    fill: orange;
}

.folk circle {
    fill: rgba(85, 8, 225, 1);
    fill: -moz-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    fill: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 8, 225, 1)), color-stop(100%, rgba(1, 214, 141, 1)));
    fill: -webkit-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    fill: -o-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    fill: -ms-linear-gradient(left, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
    fill: linear-gradient(to right, rgba(85, 8, 225, 1) 0%, rgba(1, 214, 141, 1) 100%);
}